body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: Fascinate;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0 20px;
    font-size: 0;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

li {
    display: inline;
    margin: 0 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}
  
.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    font-family: Fascinate;
}
  
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.publicidad {
    color: #025157;
    margin-left: 30px;
}

.publicidad p {
    color: #343434;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video img {
    width: 120px;
    margin-top: 10px;
}

/* Estilos de la sección de FEATURES*/
.features {
    margin-top: 5%;
    padding: 5% 10%;
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    height: 660px;
    background-color: #025157;
}

.feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.feature-content img {
    width: 50px;
}

.feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #67b54b;
}

.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.feature-image img {
  margin-top: 0;
  height: 100%;
}